<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grayColor</key>
	<string>#999999</string>
	<key>gbColor</key>
	<string>#dc4e41</string>
	<key>textDarkGreen</key>
	<string>#4F5B1D</string>
	<key>fbColor</key>
	<string>#3b5998</string>
	<key>blue</key>
	<string>#0000FF</string>
	<key>clear</key>
	<string>#000000AAAA</string>
	<key>red</key>
	<string>#FF0000</string>
	<key>black</key>
	<string>#000000</string>
	<key>white</key>
	<string>#FFFFFF</string>
	<key>theme</key>
	<string>#000000</string>
	<key>themeSelectedButton</key>
	<string>#0000FC</string>
	<key>themeButton</key>
	<string>#FC0000</string>
	<key>primary</key>
	<string>#F0F000</string>
	<key>secondary</key>
	<string>#0F0FFF</string>
	<key>apptextcolormaroon</key>
	<string>#72161F</string>
	<key>apptextcolorgreen</key>
	<string>#465916</string>
	<key>apptextcolorlightgray</key>
	<string>#686868</string>
	<key>grayFontColor</key>
	<string>#707070</string>
	<key>lightGreenBg</key>
	<string>#f9faf2</string>
	<key>darkGreenTxt</key>
	<string>#495b22</string>
	<key>lightGreenTxt</key>
	<string>#3c5913</string>
	<key>cellGrayColor</key>
	<string>#f5f5f5</string>
	<key>cellGrayLightColor</key>
	<string>#fafafa</string>
	<key>New item</key>
	<string>#008473</string>
	<key>lightGray</key>
	<string>#E6E9E1</string>
	<key>LightGreenShade</key>
	<string>#5A7521</string>
	<key>titleColor</key>
	<string>#b29f40</string>
	<key>borderColor</key>
	<string>#98a47a</string>
	<key>bgMidLightGreen</key>
	<string>#A3B575</string>
	<key>bgLightGreen</key>
	<string>#e1e4d7</string>
	<key>bgTabbarBtn</key>
	<string>#3e4f13</string>
	<key>tabbarTextColor2</key>
	<string>#88a538</string>
	<key>tabbarTextColor</key>
	<string>#587b10</string>
	<key>tabbarHighlightColor</key>
	<string>#009688</string>
	<key>bgBrown</key>
	<string>#C2A65D</string>
	<key>darkGreen</key>
	<string>#6c862b</string>
	<key>cellColorLightGrey1</key>
	<string>#F2F2F2</string>
	<key>cellColorLightGreyy</key>
	<string>#F9F9F9</string>
	<key>GreenColorText</key>
	<string>#54810E</string>
	<key>HeadingGreen</key>
	<string>#67831b</string>
	<key>headingGrayColor</key>
	<string>#5d5a49</string>
	<key>megazineDetailDarkGray</key>
	<string>#5D5A4A</string>
	<key>lightGreenMegazineDetail</key>
	<string>#67831F</string>
	<key>kitaabDetailColor</key>
	<string>#82847D</string>
	<key>textviewtextcolor</key>
	<string>#B3B5AE</string>
	<key>txtfieldborderColor</key>
	<string>#7F8E5B</string>
	<key>textFieldtextColor</key>
	<string>#536F11</string>
	<key>lighGrayBorderColor</key>
	<string>#edefe9</string>
	<key>listingRed</key>
	<string>#c71610</string>
	<key>listingGreen</key>
	<string>#3b4b06</string>
	<key>grayPlaceHolderColor</key>
	<string>#cdcfc9</string>
</dict>
</plist>
